<div>
    <mat-toolbar class="mainToolbar" color="primary">
      {{ title }}
      <span class="toolbar-spacer"></span>  
      <div class="example-button-row">
        <button mat-raised-button color="accent" (click)="changeTheme('light')" class="btn-margin">Light Theme</button>
        <button mat-raised-button color="accent" (click)="changeTheme('dark')" class="btn-margin">Dark Theme</button>
        <button mat-raised-button color="accent" (click)="changeTheme('alternate')" class="btn-margin">Alternate Theme</button>
      </div>
    </mat-toolbar>
    
    <div class="sub-section">   
      <mat-tab-group class="tabs" color="accent" >
        <mat-tab label="Form">
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Input" required>
            </mat-form-field>       
            <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>    
            <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="o1">Option 1</mat-option>
                <mat-option value="o2">Option 2</mat-option>
                <mat-option value="o3">Option 3</mat-option>
                <mat-option value="o4">Option 4</mat-option>
              </mat-select>
            </mat-form-field> 
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>  
            <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="pickerRange">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="pickerRange"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerRange></mat-date-range-picker>
            </mat-form-field>
            <section class="example-section">
              <mat-checkbox class="example-margin" >Checkbox 1</mat-checkbox>
              <mat-checkbox class="example-margin" >Checkbox 2</mat-checkbox>
              <mat-checkbox class="example-margin" >Checkbox 3</mat-checkbox>
              <mat-checkbox class="example-margin" >Checkbox 4</mat-checkbox>
            </section>    
            <section class="example-section">
              <mat-radio-group>
                <mat-radio-button class="example-margin" value="r1">Radio 1</mat-radio-button>
                <mat-radio-button class="example-margin" value="r2">Radio 2</mat-radio-button>
                <mat-radio-button class="example-margin" value="r3">Radio 3</mat-radio-button>
                <mat-radio-button class="example-margin" value="r4">Radio 4</mat-radio-button>
              </mat-radio-group>
            </section>
            <section class="example-section">
              <button mat-raised-button color="primary">Submit</button>
            </section>
          </div>
        </mat-tab>
        <mat-tab label="Chart">
          <div class="example-margin">
            <span>Olympic and world champions in men's water polo</span>
          </div>
          <ngx-charts-pie-chart [view]="[600, 400]" [scheme]="chartColorScheme" [results]="chartData" 
            [gradient]="false" [legend]="true" [legendPosition]="'right'" 
            [labels]="false" [doughnut]="false">
          </ngx-charts-pie-chart>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>